/*
Theme Name: Cloudimo - Tema Padrão
Author: Afixar - Desenvolvimeno Web e Design Ltda
Author URI: https://afixar.com.br
Version: 1.0
Description: Tema distribuido livremante para clientes do Cloudimo.
*/

.listing-item a > img{
    height: 325px;
}
.grid-layout-three .listing-item a > img{
    height: 325px !important;
}
.grid-layout .listing-item a > img {
    height: 370px !important;
}
label.error {
    color: #e32b2b;
}
.listing-footer {
    display:none;
}

.msg {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#container-informativos .blog-post a > img{
    height: 325px;
}
#navigation.style-1 .current {
   padding: 0px;
}
.widget-servicos .widget-content .widget-thumb {
    width: 48px;
}
.widget-servicos .widget-content .widget-thumb a > i {
    font-size: 45px;
}
.widget-servicos .widget-content .widget-text {
    width: 0;
}
.copyrights {
    text-align: inherit !important;
}
.copyrights #powered-by {
    float: right;
}
.copyrights #powered-by a > span {
    background: url(images/cloudimo-logo-footer2.png) no-repeat;
    text-indent: -9000em;
    width: 96px;
    float: right;
}
.copyrights #powered-by a > span:hover {
    background: url(images/cloudimo-logo-footer1.png) no-repeat;
}